@use "../variables" as *;

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 6px;

    &--primary {
        color: $textColor;
        background-color: $buttonColor;

        &:hover {
            background-color: lighten($buttonColor, 6%);
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        display: flex;
        align-items: center;
        margin-left: 12px;
    }


}