@use "variables" as *;

.hero {
    padding-top: 40px;
    padding-bottom: 66px;
    background-image: url(../images/gift.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    p {
        text-align: center;
    }

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $infoText;
        content: "";
        opacity: .7;
    }

    &__text {
        margin: 64px 64px;
        text-align: center;
        font-size: 36px;
        font-weight: 800;
        line-height: 56px;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }

        &__title {
            font-size: 28px;
        }
    }
}